<ion-content padding class="fondo">
  <ion-card>
    <ion-card-header>
      Sky Store
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Codigo de Vendedora" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña" ></ion-input>
        </ion-item>
        <p class="letra">He olvidado mi Contraseña! <a class="letra" (click)="recu()">Click Aqui</a></p>
      </ion-list>
      <button ion-button round outline (click)="home()">Iniciar Sesion</button>
      <button ion-button round outline (click)="resgistra()">Crear una cuenta</button>
    </ion-card-content>
  </ion-card>
</ion-content>
  